.navbar {
    width: 100%;
    padding: 0;
    gap:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
}




  body{
    margin: 0;
    font-family: "Montserrat", sans-serif;

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    gap: 40px;
    background: white;
}


.hero-image {
    width: 55%;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.hero-content {
    width: 45%;
    text-align: left;
}

.hero-content h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 17px;
    line-height: 1.7;
}

body {
  font-family: 'Elms Sans', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color :chocolate;
    padding: 50px;
    color: white;
    flex-wrap: wrap;
}

.services h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.service {
  background: white;
  border-radius: 16px;
  padding: 25px;
  width: 220px;
  text-align: center;
  text-decoration: none;
  
}


.service i 
{display: flex;
  font-size: 38px;
  color: burlywood;
  margin-bottom: auto;
  align-items: center;
  justify-content:center;

  
}


.service p {
  display: flex;
  font-size: 17px;
  font-weight: 500;
  justify-content: space-between;
  color:black;
  text-align: left;
  
}

@media(max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-image,
    .hero-content {
        width: 100%;
    }

    .hero-image img {
        width: 100%;
    }
}
}












